// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  height: 750px;
  text-align: center;
  background: url(https://i.ytimg.com/vi/71iZieJWmmk/maxresdefault.jpg) center no-repeat;
  padding: 20px
}

.btn {
  font-size: 24px;
  color: white;
  background: blue
}